<div class="buttons">
    <a href="/zakaznici" id="zakaznici">Zákazníci</a>
    <a href="/objednavky" id="objednavky">Objednávky</a>
    <a href="/produkty" id="produkty">Produkty</a>
    <a href="/podpora" id="podpora">Podpora</a>
    <a href="/reklamace" id="reklamace">Reklamace</a>
    <a href="/zamestnanci" id="zamestnanci">Zaměstnanci</a>
</div>