<div class="spodek">
    <div class="selectButtons">
        <a href="/dospeli-zakaznici" id="dospeli-zakaznici">Dospělí zákaznící</a>
        <a href="/mladi-zakaznici" id="mladi-zakaznici">Mladí zákaznící</a>
        <a href="/dorucene-objednavky" id="dorucene-objednakvy">Doručené objednávky</a>
        <a href="/objednavky-k-odeslani" id="objednavky-k-odeslani">Objednávky k odeslání</a>
        <a href="/dochazejici-produkty" id="dochazejici-produkty">Docházející produkty</a>
        <a href="/podpora-nezodpovezene" id="podpora-nezodpovezene">Nezodpovězené dotazy z podpory</a>
        <a href="/bezpecne-objednavky" id="bezpecne-objednavky">Objednávky nedoručované Českou Poštou</a>
        <a href="/nejdrazsi-objednavka" id="nejdrazsi-objednavka">Nejdražší objednávka</a>
        <a href="/reklamace-zamitnute" id="reklamace-zamitnute">Zamítnuté reklamace</a>
        <a href="/pocet-zakazniku" id="pocet-zakazniku">Aktuální počet zákazníků</a>
    </div>
    <h3 style="margin-top: -0.5rem;">Dotazy</h3>
</div>
